/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 html {
   font-family: sans-serif;
   line-height: 1.15;
   -webkit-text-size-adjust: 100%;
 }

 body {
   margin: 0;
   padding: 0
   font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #212529;
   background-color: #fff; 
}

#wrapper {
    max-width: 55rem;
    margin: 0 auto;
    padding: 3rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0 0 0.5rem 0.5rem;
}

.rel {
  position: relative;
}

.flex--flex-row {
    display: flex;
    gap: 1rem;
    align-items: top;
    flex-direction: row;
}

.flex--flex-col {
  padding: 0.25rem 2rem
}

.flex--flex-col:nth-child(1) {
  padding-left: 0
}

.p0 {
  padding: 0
}
.pl0 {
  padding-left: 0
}
.pr0 {
  padding-right: 0
}